@import "tailwindcss";
@theme {
  --color-primary: hsl(0, 100%, 24%);
  --color-primary-light: hsl(0, 100%, 35%);
  --color-primary-dark: hsl(0, 100%, 15%);
  --color-text: hsl(0, 100%, 99%);
  --color-text-muted: hsl(0, 100%, 95%);
  --font-sans: "Inter", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
